<!doctype html>
<html lang="en">
	<head>
		<title>Stranger Strings</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--<script src="../node_modules/vue/dist/vue.js"></script>-->
		<script src="vue.min.js"></script>
		<script src="strangerstrings.js"></script>
		<link rel="stylesheet" href="normalize.min.css" />
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" type="image/png" href="favicon.ico">
	</head>
	<body>
		<div id="app">
			<header class="stranger">
				<div class="top">
					<div class="bound full"></div>
					<p>
						<span class="drop">{{name[0].slice(0, 1)}}</span>{{name[0].slice(1, -1)}}<span class="drop">{{name[0].slice(-1)}}</span>
					</p>
					<div class="bound mini left"></div>
					<div class="bound mini right"></div>
				</div>
				<div class="bottom">
					<p>{{name[1]}}</p>
				</div>
			</header>
			<section>
				<form>
					<label for="mode">Mode</label>
					<select v-model="mode" class="u-full-width">
						<option value="0">Off</option>
						<option value="1">On</option>
						<option value="2">Pattern</option>
						<option value="3">Message</option>
					</select>
					<fieldset v-if="mode != 'off'">
						<label for="brightness">Brightness: {{brightness}}</label>
						<input type="range" min="0" max="255" v-model="brightness" class="slider" @mouseup="brightnessChange" class="u-full-width">
					</fieldset>
					<fieldset v-if="mode == 'message'" class="u-full-width">
							<label for="message">Message</label>
							<textarea v-model="message" class="u-full-width"></textarea>
							<!--<label for="original">Original Colours</label><input type="checkbox" id="original" v-model="original">
						<label for="colour">Colour</label><input id="colour" type="color" v-model="colour">
						<br />-->
						<button @click="messageSend">Send</button>
					</fieldset>
					<fieldset v-if="mode == 'pattern'">
						<select v-model="pattern" class="u-full-width">
							<option value="0">Rainbow</option>
							<option value="1">Pulse</option>
							<option value="2">Flickering</option>
							<option value="3">Chase</option>
						</select>
					</fieldset>
				</form>
			</section>
		</div>
	</body>
</html>